html {
    margin: 0%;
    height: 100%;
    font-size: 62.5%
}

@font-face {
    font-family: "Georgia", serif;
    font-weight: 300;
}

body {
    display: flex;
    font-size: 2rem; 
    margin: 0%;
    height: auto;
    background-color: firebrick;
}

/* Style voor navigatie menus */
nav {
    background-color: #242424;
    color: white;
    display: block;
    float: left;
    font-size: 2.7rem;
    width: 15%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    position: fixed;
}

nav ul {
    list-style: none;
    margin: 0%;
    width: 100%;
    height: 100%;
    padding: 0px;
    outline: #242424 solid 1px;
    background-color: #242424;
}

nav li.navhoofdkop, li.navhoofdkop2 {
    display: flex;
    height: 5rem;
    width: 100%;
    outline: #242424 solid 1px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    white-space: nowrap;
}

nav li.navonderkop > ul {
    background-color: black;
    display: none;
    padding-left: inherit;
    margin-left: inherit;
}

nav .navhoofdkop a {
    text-decoration: none;
    color: white;
    display: flex;
}

nav .navhoofdkop2 a {
    text-decoration: none;
    color: white;
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: center;
    height: inherit;
}

nav #logo a {
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 7rem;
    text-decoration: none;
    text-shadow: -3px 3px 0 black;
    color: red;
    justify-content: center;
}

li.auteurs {
    position: fixed;
    width: 15%;
    display: flex;
    color: gray;
    font-size: 1.2rem;
    left: 0;
    bottom: 0;
    justify-content: center;
}

/* Voor de inhoud van de paginas */
div#inhoud {
    float: right;
    display: block;
    margin-left: 15%;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

section {
    margin-top: 10%;
    padding: 5%;
    padding-top: 1%;
    display: block;
    text-align: justify;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #f4f4f4;
}

section h1 {
    font-size: 4rem;
    text-align: center;
}

section h2 {
    font-size: 2.7rem;
    display: flex;
    justify-content: center;
}

pre {
    display: flex;
    padding-left: 10px;
}

p:not(.bibliografie) a {
    font-size: 1.3rem;
    vertical-align: super;
}

.bibliografie {
    text-align: left;
    font-size: 1.2rem;
}

/* Foto browser */
#f-imgcontainer {
    height: 300px;
    width: 500px;
    padding: 1.75%;
    overflow: hidden;
}

#f-img {
    display: block;
    margin: 0px auto;
    height: inherit;
    width: inherit;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.f-imageview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-imageview button {
    border: none;
    background: none;
    font-size: 1rem;
}

.f-search {
    display: block;
    width: 30%;
    margin: 0 auto;
}

/* Flot */
.flot#mmgrafiek {
    display: block;
    height: 500px;
    width: 700px;
    margin: 0px auto;
    font-size: 2rem;
}

.flot#titel {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    font-size: 2rem;
}

.flot#searchgrafiek {
    display: block;
    height: 250px;
    width: 450px;
    margin: 0px auto;
    font-size: 1.4rem;
}

.flot#searchoverzicht {
    display: block;
    height: 75px;
    width: 450px;
    margin: 0px auto;
}

.flotsearchlabel {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}